.gallery_sec {
    background-image: url('../../assets/ECLECTIKA\ _23/IMG_20230212_215217.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}