@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


:root {
    --font-family: 'Playfair Display', serif;
}

.home {
    /* height: 100vh; */
    background-image: url('../../assets/MAIN_IMG.jpg');
    /* opacity: 100%; */
    /* filter: brightness(90%); */
}

.home_text h1:not(.small_text) {
    font-family: var(--font-family);
    letter-spacing: .05em;
    line-height: 5rem;
}




/* START NOW BUTTON */

.home_text .home_btn {
    position: relative;
    padding: 0 1rem 0 0;
    transition: .3s ease-out;
}

.home_text .home_btn:hover {
    padding: 0 2rem 0 0;
}

.home_text .home_btn::after {
    content: "";
    position: absolute;
    width: 7rem;
    height: 2px;
    top: 50%;
    left: 100%;
    transform: translate(0%, -50%);
    background-color: white;
}

.home_page .home_abt {
    backdrop-filter: blur(100px);
}



/* SCROLLBAR FOR THE SPECIFIED SECTION */

.home_page .home_abt::-webkit-scrollbar {
    width: .5rem;
}

.home_page .home_abt::-webkit-scrollbar-track {
    background-color: transparent;
}

.home_abt::-webkit-scrollbar-thumb {
    /* background: linear-gradient(180deg, rgb(50, 50, 50) 0%, rgb(50, 50, 50) 100%); */
    background: rgb(225, 225, 225);
    border: .5px solid black;
    border-radius: 10px;
}




.social_links {
    backdrop-filter: blur(40px);

}




/* FOR HOVERING EFFERCTS IN SOLCIAL LOGOS */

#twitter_logo,
#linkedin_logo,
#insta_logo {
    position: relative;
}

#twitter_logo::before,
#linkedin_logo::before,
#insta_logo::before {
    content: "";
    transition: .3s all ease-in;
    /* color: orange; */
    color: rgb(255, 200, 90);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
}

#twitter_logo:hover::before {
    content: "Twitter";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(0%, -50%);
    opacity: 1;
}

#linkedin_logo:hover::before {
    content: "LinkedIn";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(0%, -50%);
    opacity: 1;
}

#insta_logo:hover::before {
    content: "Instagram";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(0%, -50%);
    opacity: 1;
}